<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hosgeldin {{user.first_name}} </h1>

    {%for job in jobs%}

    <a href="{%url 'jobdetail' job.id%}"><h1>{{job.name}}</h1></a>

    {%endfor%}

    <h1>Upload an Image</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group my-1">
            <label for="id_profile_image">Profil Resmi Yükle:</label>
            <input type="file" name="resim" id="id_profile_image">
        </div>
        <button type="submit">Upload</button>
        
    </form>
    

    <h1> {{message}} </h1>

</body>
</html>
